*{  
    font-family:"Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #14b8a5d2;
}

li{
    list-style: none;
}

a{
    color:#F8FAFC;
    text-decoration: none;
}

.navbar{
    min-height: 70px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:55px;
}

.nav-icon{
    font-size: 2rem;
}


.nav-link{
    color:#F8FAFC;
    transition: 0.7s ease;
}
.nav-link:hover{
    color:#0F766E;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    transition:all 0.3s ease-in-out;
    background-color: #F8FAFC;
}

.hero-section {
    width: 100%;
}

.hero-image img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: 0;
}



@media(max-width:768px) {
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
     .hamburguer.active .bar:nth-child(3){
        transform: translate-8px rotate(-45deg);
    }
    .navbar-menu{
        position:fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: #c7c7c7;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navbar-item{
        margin: 16px 0;
    }

    .navbar-menu.active{
        left: 0;
    }
}



